*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: dark;
  accent-color: var(--nvd-color-accent);
}

html[data-theme='light'] {
  color-scheme: light;
}

body {
  font-family: var(--__nvd-font);
  line-height: var(--nvd-line-height);
  -webkit-font-smoothing: antialiased;
  color: var(--nvd-color-text);
  background-color: var(--nvd-color-bg);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code {
  overflow-wrap: anywhere;
}

code {
  font-family: var(--__nvd-font-mono);
}