---
import BaseHead from "@components/site/BaseHead.astro";
import Header from "@components/site/Header.astro";
import Footer from "@components/site/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-white p-4 text-slate-900 transition-colors dark:bg-slate-900 dark:text-white">
    <a href="#main-content" class="sr-only focus:not-sr-only active:not-sr-only"
      >Skip to content</a
    >
    <Header />
    <main id="main-content">
      <slot>
        <h1>Under construction</h1>
        <p>No content found just yet...</p>
      </slot>
    </main>
    <Footer />
  </body>
</html>
