---
import DarkModeToggle from '../../components/ui/DarkModeToggle.astro';
import { SITE_EMAIL } from '../../consts';
---

<div class="container mx-auto px-5 py-3">
  <div class="flex border-b border-b-stone-300 pb-3">
    <a
      href="mailto:{SITE_EMAIL}"
      class="px-3 text-stone-500 hover:text-amber-700">{SITE_EMAIL}</a
    >
    <a
      href="tel:7194928134"
      class="mr-auto px-3 text-stone-500 hover:text-amber-700">(719) 492-8134</a
    >
    <DarkModeToggle />
  </div>
</div>
