---
import { SITE_UTM_SOURCE } from '../../consts';
---

<section class="bg-white dark:bg-stone-900">
  <div class="mx-auto max-w-screen-md px-4 py-8 lg:py-16">
    <h2
      class="mb-4 text-center text-4xl font-extrabold tracking-tight text-stone-900 dark:text-white">
      Contact Us
    </h2>
    <p
      class="mb-8 text-center font-light text-stone-500 dark:text-stone-400 sm:text-xl lg:mb-16">
      Got a technical issue? Want to send feedback about a beta feature? Need
      details about our Business plan? Let us know.
    </p>
    <form
      action="/success"
      class="space-y-8"
      name=`${SITE_UTM_SOURCE}-contact`
      method="POST"
      data-netlify="true">
      <div>
        <label
          for="email"
          class="mb-2 block text-sm font-medium text-stone-900 dark:text-stone-300"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 shadow-sm dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400"
          placeholder="you@gmail.com"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="mb-2 block text-sm font-medium text-stone-900 dark:text-stone-300"
          >Subject</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light block w-full rounded-lg border border-stone-300 bg-stone-50 p-3 text-sm text-stone-900 shadow-sm dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="mb-2 block text-sm font-medium text-stone-900 dark:text-stone-400"
          >Your message</label
        >
        <textarea
          id="message"
          name="message"
          rows="6"
          class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-stone-300 bg-stone-50 p-2.5 text-sm text-stone-900 shadow-sm dark:border-stone-600 dark:bg-stone-700 dark:text-white dark:placeholder-stone-400"
          placeholder="Leave a comment..."></textarea>
      </div>
      <button type="submit" class="btn-primary">Send message</button>
    </form>
  </div>
</section>
